@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header{

}

/*Ãrea das redes sociais*/
header > #redes-sociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #faae22;
    height: 50px;
    padding: 0px 30px;
}
#redes-sociais > div.tel-email{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
#redes-sociais > div.tel-email > img{
    width: 20px;
    height: 20px;
}
#redes-sociais > div.tel-email > p{
    font-weight: bold;
}
#redes-sociais > div.redes > img{
    margin: 0px 5px;
}

/*Menu*/

section#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
section#nav > div.logo > img{
    width: 120px;
}
section#nav > nav > a{
    text-decoration: none;
    color: #faae22;
    font-weight: bold;
    margin: 0px 5px;
    padding: 15px 20px;
}
section#nav > nav > a:hover{
    color: white;
    background-color: #faae22;
    border-radius: 20px;
}
section#nav > nav > a.adote{
    color: white;
    background-color: #faae22;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 20px;
}

/*Main*/

section#propaganda{
    background-color: #faae22;
    height: 300px;
    display: flex;
    align-items: center;
}
div.conteudo-propaganda{
    width: 300px;
    margin-left: 10%;
}
div.conteudo-propaganda > h1{
    color: white;
    margin-bottom: 30px;
}
div.conteudo-propaganda > a.propaganda-adote{
    color: #faae22;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 20px;
}
section#sobre-nos{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
section#sobre-nos > h2{
    margin: 10px 0px;
    color: rgb(43, 43, 43);
}
section#sobre-nos > p{
    color: rgb(117, 117, 117);
    line-height: 1.5em;
}